body {
  margin: 0;
}

/* Navbar */
ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: inline;
  color: white;
  padding: 8px 16px;
  margin-left: 80px;
  text-decoration: none;
  margin-top: 20px;
  font-size: 30px;
}

ul.sidenav li a.active {
  background-color: orange;
  color: white;
  margin-bottom: 100px;
}

ul.sidenav li a:hover:not(.active) {
  background-color: orange;
  color: white;
}

.sidenav li button {
  background-color: orange;
  border: none;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -5px;
  border-radius: 2px;
  font-size: 30px;
  margin-right: 30px;
}

.sidenav img {
  height: 100px;
  float: left;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }

  ul.sidenav li a {
    float: right;
    padding: 15px;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 1920px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }

  ul.sidenav li a {
    float: right;
    padding: 15px;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}

/* Body */
div.content {
  margin-top: -20px;
  height: 1000px;
  background-color: black;
  color: white;
  padding: 30px;
}

.content img {
  height: 80%;
  width: 100%;
}

.content #gambar2 {
  max-width: max-content;
  height: auto;
}
